[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
websockets = "*"
Autologging = "*"
requests = "2"
urllib3 = "1"
quart = "~=0.10"
backoff = "~=1.10"

[requires]
python_version = "3.8"
